@import url(https://fonts.googleapis.com/css?family=Alef:400,700&subset=hebrew);
html {
  font-size: 10px;
}

body {
  font-family: Alef, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.3;
}
